@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
    var myTime = DateTime.Now.TimeOfDay;
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Modify this template to jump-start your ASP.NET Web Pages application.</h2>
        </hgroup>
        
    </div>
</section>
}

<h2>My Tweet Analysis</h2>
<form method="post" action="~/Result.cshtml">
    <h4>Pencarian twitter</h4>
    <input type="text" name="Mention" value="" /><br />
    <h4>Keyword PDAM</h4>
    <input type="text" name="Keyword1" value="" /><br />
    <h4>Keyword Dinas</h4>
    <input type="text" name="Keyword2" value="" /><br />
    <h4>Keyword SatPol</h4>
    <input type="text" name="Keyword3" value="" /><br />
    <h4>Keyword PJU DBMP</h4>
    <input type="text" name="Keyword4" value="" /><br />

    <h3>Algorithm:</h3>
    <input type="radio" name="algorithm" value="KMP" checked> KMP <br />
    <input type="radio" name="algorithm" value="BoyerMoore"> Boyer Moore <br />
    <input type="submit" value="Analize" class="submit" />
</form>